#### contoh count vector

In [8]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

doc1 = "Saya mahasiswa UDINUS"
doc2 = "Mahasiswa UDINUS hebat-hebat"

bow_vectorizer = CountVectorizer()

X = bow_vectorizer.fit_transform([doc1,doc2])

bow_df = pd.DataFrame(X.toarray(),columns=bow_vectorizer.get_feature_names_out())
bow_df.head()

   hebat  mahasiswa  saya  udinus
0      0          1     1       1
1      2          1     0       1